body{
  font-family: 'Lato', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f6faff;
}
h1{
  margin: 0;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 900;
  word-spacing: 0.25em;
}

.color-text{
  color: #4c4cad;
}
/* .flex-box{
  display: flex;
} */
.container,.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section{
  margin-top: 50px;
}
.half{
  width: 50%;
}
.first-half{
  padding-right: 50px;
}
.second-half{
  width:25%;
  height: 420px;
  background-image: url("../img/My\ Personal\ Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 5px #4c4cad80;
  border-radius: 15px;
}
/* .half>img{
  
  box-sizing: border-box;
  box-shadow: 5px 5px 8px rgb(207, 194, 255);
  border-radius: 15px;
} */
.hire-me{
  margin-top: 10px;
  letter-spacing: 0.15em;
  border: none;
  color: #fff;
  background: linear-gradient(60deg, #4c4cad, #4c89ad);
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.right-half{
  padding: 0;
}
.left-half{
  background-image: url("../img/chasing\ the\ dream.jpg");
  margin-right: 50px;
}
.spacer{
  height: 150px;
}
.center{
  text-align: center;
}
.exp-section{
  margin-top: 60px;
}
.exp{
width: 40%;
background-color: #ffffff;
margin: 15px;

}
/* .left-exp,.right-exp{
  border-left: 5px solid;
  border-image: linear-gradient(#4c4cad, #4c89ad) 90;
} */

.radius-15{
  border-radius: 15px;
  padding: 25px;
  border-bottom: 4px solid #4c4cad80;
  border-left: 4px solid #4c89ad80;
}
.p-tb-10{
  padding: 0 10px;
}
.footer{
  width: 100%;
  background: linear-gradient(45deg, #4c4cad, #4c89ad);
  padding: 20px;
  color: #fff;
}