body{
  font-family: 'Lato', sans-serif;
  color: #333;
}
h1{
  font-size: 3em;
  font-weight: 900;
  word-spacing: 0.25em;
}

.color-text{
  color: #4c4cad;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section{
  margin-top: 50px;
}
.half{
  width: 50%;
}
.first-half{
  padding-right: 50px;
}
.second-half{
  width:25%;
  height: 70vh;
  background-image: url("/img/My\ Personal\ Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 8px rgb(207, 194, 255);
  border-radius: 15px;
}
/* .half>img{
  
  box-sizing: border-box;
  box-shadow: 5px 5px 8px rgb(207, 194, 255);
  border-radius: 15px;
} */
.hire-me{
  margin-top: 10px;
  letter-spacing: 0.15em;
  border: none;
  color: #fff;
  background: linear-gradient(60deg, #4c4cad, #4c89ad);
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}